*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: gray;
}

div{
    height: 300px;
    width: 300px;
    background-color: paleturquoise;

}