*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cursor{
    width: 20px;
    height: 20px;
    background-color: #f9e504;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: 9;
    font-size: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gray;
}

#image{
    width: 900px;
    height: 500px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}
#image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:center;
}


#overlay{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 10;
}

